body{
    background-image: url("https://i.postimg.cc/KY1q12Kj/Ghibli-Food.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #e4934d;
    margin-bottom: 20px;
    font-family: monospace;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(219, 216, 209, 0.6); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px); 
}

form{
    margin: 10px;
    padding: 10px;
}

.hint{
    font-size: 12px;
    color: black;
    margin-left: 30px;
    font-family: monospace;
    margin-top: -20px;
}

.hidden{
    display: none;
}

.recipe-name{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgba(219, 216, 209, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black
}

.generate-recipe{
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(219, 216, 209, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black; 
}

.generate-recipe:hover{
    background-color:rgb(197, 197, 197);
}

.recipe-output{
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    color: black;
    border: gray solid 1px;
}

.emoji{
    font-size: 60px;
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
}

.emoji2{
    font-size: 60px;
    text-align: right;
    margin-right: 20px;
    margin-top: 5px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

footer{
    text-align: center;
    font-size: 14px;
    color: black;
    margin-top: 20px;
    font-family: monospace;
}

a{
    color: #FF9B00;
    font-weight: bold;
}